
@{
    ViewBag.Title = "GIới Thiệu";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/assets/style_introduce.css" rel="stylesheet" />

<div style=" height: 950px" >
    <img src="~/assets/img/img_intro/vlxd-ngoc-ha.jpg" style="width: 100%; position: relative;z-index:-1 " />
    <div class="container">
        <div class="col-inner dark khungnhin" style="background-color:rgb(0, 25, 129);">
            <h2>TRÒN CHỮ TÍN, VẸN NIỀM TIN</h2>
            <div dir="auto"><img decoding="async" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t40/1/16/25b6.png" alt="▶️" width="16" height="16"></span>Cửa Hàng <a class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz xt0b8zv x1qq9wsj xo1l8bm" tabindex="0" role="link" href="https://www.facebook.com/profile.php?id=100093480511462&amp;__cft__[0]=AZXB6sizp-zHOoqlV9tFeuQW22PlEKD3deB1_tj7gxtb2PSKTbgbHiWxNKKPV8JiXZj-fop7eOTSqshDqr3Cb4RfSJptldkir4u4U8ASIliDMgoMAKRO3lYKgAsPVZh-LNH27OUZoeHrD3mkF0Ik9ExuGB41EVq-qSCRgXQukRc_wuQD8BE_I5dStcuXCC08wXQ&amp;__tn__=-]K-R" previewlistener="true"><span class="xt0psk2">Vật Liệu Xây Dựng Ngọc Hà</span></a> chuyên cung cấp:</div>
            <div dir="auto"><img decoding="async" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"></span> Vật liệu xây dựng thô công trình</div>
            <div dir="auto"><img decoding="async" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"></span> Cát Đá</div>
            <div dir="auto"><img decoding="async" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"></span> Xi Măng</div>
            <div dir="auto"><img decoding="async" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"></span> Gạch, Ngói</div>
            <div dir="auto"><img decoding="async" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"></span> Con kê bê tông</div>
            <div dir="auto"><img decoding="async" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t33/1/16/2705.png" alt="✅" width="16" height="16"></span> Sắt thép</div>
            <div dir="auto">Quy mô kho bãi cực lớn</div>
            <div dir="auto">Nhận thầu thi công xây nhà trọn gói đảm bảo chất lượng giá tốt nhất thị trường. Phục vụ 24/24 nhanh gọn!</div>
            <div id="gap-115617730" class="gap-element clearfix" style="display:block; height:auto;">
            </div>
            <a rel="#story" href="https://vlxdsaigon24h.com/san-pham/" target="_self" class="button success lowercase" previewlistener="true">
                <span>Xem sản phẩm</span>
                <i class="icon-angle-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

<div class="middle container">
    <div class="left">
        <img style="width: 100%; height: 100%; padding-left: 30px" src="~/assets/img/img_intro/gach.jpg" />
    </div>
    <div class ="right">
        <strong style="font-size: 24px; color: #001981; ">Vật Liệu Xây Dựng Ngọc Hà</strong>
        <p style="text-align: justify;"><span style="color: #001981;"><strong>VLXD Ngọc Hà</strong></span>&nbsp;là một nhà phân phối chuyên cung cấp sắt thép xây dựng Việt Nhật, Pomina, Hòa Phát, Miền nam,…. Ngoài ra còn phân phối các mặt hàng sắt hộp, sắt hình H,U,I, V, xi măng, cát đá, gạch, ván ép,…</p>
        <p style="text-align: justify;">Với lý tưởng sẽ trở thành một trong số những nhà phân phối hàng đầu hàng đầu, mang lại cho khách hàng những dịch vụ tốt nhất trên thị trường hiện nay. Chúng tôi luôn cố gắng, cải thiện với phương châm <span style="color: #001981;"><strong><em>“TRÒN CHỮ TÍN, VẸN NIỀM TIN”</em></strong>.</span> Vậy nên, chúng tôi đang ngày càng nỗ lực, ngày càng hoàn thiện bản thân để có thể phù hợp với khách hàng. Với đội ngũ nhân viên năng động, nhiệt huyết với lãnh đạo có kinh nghiệm nhiều năm, chúng tôi đảm bảo rằng bạn sẽ được phục vụ và sử dụng các sản phẩm chất lượng nhất của chúng tôi.</p>
        <ul>
            <li><strong>Hotline</strong>: <a href="tel:0918345999">0918.345.999</a></li>
            <li><strong><span style="color: #001981;">Cửa hàng chính:</span></strong> 833-835 Hưng Phú, Phường 9, Quận 8 , Hồ Chí Minh</li>
        </ul>
        <a href="https://vlxdsaigon24h.com/lien-he/">
            <span>Liên hệ</span>
        </a>
    </div>
</div>

<div class="container contact-info" >
    <div class="left">
        <h2>Liên hệ nhận ngay báo giá</h2>
        <p>Hãy liên hệ với <strong>VLXD NGỌC HÀ</strong> ngay hôm nay để nhận báo giá ưu đãi nhất cho sản phẩm bạn đang quan tâm! Chúng tôi sẵn sàng hỗ trợ bạn 24/7.</p>
    </div>
    <div class="right">
        <div class="hotline">
            <i class="fa-solid fa-phone"></i>
            <span>Hotline: 0918.345.999</span>
        </div>
    </div>
</div>

<div class="container" >
    <div class="right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.858310370927!2d106.66248137480443!3d10.745401589401471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e5785757e39%3A0xdbc520b414f41a23!2zODMzIMSQLiBIxrBuZyBQaMO6LCBQaMaw4budbmcgOSwgUXXhuq1uIDgsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1722438019508!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="left">
        <h2><span style="color: #001981;"><strong>Vật Liệu Xây Dựng Ngọc Hà</strong></span></h2>
        <p>Với phương châm: “Lấy chất lượng là mục tiêu – TRÒN CHỮ TÍN, VẸN NIỀM TIN”</p>
        <p>Ngọc Hà luôn chú trọng chất lượng của từng sản phẩm và dịch vụ, đảm bảo cung cấp cho khách hàng sản phẩm và dịch có chất lượng và giá thành tốt nhất.</p>
        <img fetchpriority="high" decoding="async" width="50" height="50" src="https://vlxdsaigon24h.com/wp-content/uploads/2023/10/signature.png" class="attachment-large size-large" alt="" srcset="https://vlxdsaigon24h.com/wp-content/uploads/2023/10/signature.png 588w, https://vlxdsaigon24h.com/wp-content/uploads/2023/10/signature-510x469.png 510w, https://vlxdsaigon24h.com/wp-content/uploads/2023/10/signature-300x276.png 300w" sizes="(max-width: 588px) 100vw, 588px">
    </div>
</div>

<div class="info-container container"style="height:200px"> 
    <div class="info-item">
        <h3>1999</h3>
        <p>Hơn 20 năm kinh nghiệm</p>
    </div>
    <div class="info-item">
        <h3>+50,000</h3>
        <p>Khách hàng</p>
    </div>
    <div class="info-item">
        <h3>4.98/5</h3>
        <p>Đánh giá</p>
    </div>
</div>

<div style="margin-top:30px">
    <img width="100%" height="600px" src="~/assets/img/img_contact/cat374-3.jpg" alt="Introduction Image">
    <div style="width: 100%; background-color: #001981; margin-top: 30px">
        <h2 style="font-size: 220%; text-align: center; padding: 30px; color: #fff">“NGỌC HÀ –TRÒN CHỮ TÍN, VẸN NIỀM TIN”</h2>
    </div>
</div>
