
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="comment">
    <h2>OrderConfirmation</h2>
    <h2>Thank You for Your Order!</h2>
    <p>Your order has been placed successfully. We will process it shortly.</p>

</div>
