@{
    ViewBag.Title = "Table_Price";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/assets/style_tbprice.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
<br />
<div class="container">
    <h5 style="font-size:25px" class="uppercase">BẢNG BÁO GIÁ</h5>
    <div class="is-divider small"></div>
</div>
<div class="container-header container">
    <br />
    <div class="icon-box">
        <div class="icon-box-img">
            <img decoding="async" width="50" height="50" src="https://vlxdsaigon24h.com/wp-content/uploads/2023/11/Product-min.jpg" class="attachment-medium size-medium" alt="Cam kết chất lượng">
        </div>
        <h3 class="uppercase">Cam kết chất lượng</h3>
        <p>
            Giao hàng đúng chất lượng, tiến độ & tận chân công trình.

        </p>
    </div>
    <div class="icon-box">
        <div class="icon-box-img">
            <img decoding="async" width="50" height="50" src="https://vlxdsaigon24h.com/wp-content/uploads/2023/11/Job-min.jpg" class="attachment-medium size-medium" alt="Giá cạnh tranh">
        </div>
        <h3 class="uppercase">Giá cạnh tranh</h3>
        <p>
            Giá vật liệu xây dựng được niêm yết, công khai.
        </p>
    </div>
    <div class="icon-box">
        <div class="icon-box-img">
            <img loading="lazy" decoding="async" width="50" height="50" src="https://vlxdsaigon24h.com/wp-content/uploads/2023/11/icon-home-ncc.png" class="attachment-medium size-medium" alt="Khách hàng là số 1">
        </div>
        <h3 class="uppercase">Khách hàng là số 1</h3>
        <p>
            Khách hàng là số1, một chữ tín vạn niềm tin.
        </p>
    </div>
    <div class="icon-box">
        <div class="icon-box-img">
            <img loading="lazy" decoding="async" width="50" height="50" src="https://vlxdsaigon24h.com/wp-content/uploads/2023/11/icon-home-thuong-hieu.png" class="attachment-medium size-medium" alt="Tư vấn 24/7">
        </div>
        <h3 class="uppercase">Tư vấn 24/7</h3>
        <p>
            Tư vấn 24/7 miễn phí nhiệt tình chu đáo về mặt kỹ thuật.
        </p>
    </div>
</div>
<h6 style="text-align: center;font-size:18px" class="uppercase">BẢNG BÁO GIÁ VẬT LIỆU XÂY DỰNG CẬP NHẬT LIÊN TỤC</h6>

<style>
    .table td,
    .table th {
        padding: 5px 150px 5px 150px; /* Tăng padding để tạo khoảng cách lớn hơn */
        color: #001981;
        border: 2px solid #001981;
    }

    .table th {
        background-color: #001981;
        color: #fff;
    }
    .title {
        text-align: center;
        margin-bottom: 15px;
    }

        .title a {
            padding: 10px; 
            color: #001981;
            border: 1px solid #001981;
            border-radius: 3px;
        }
</style>

<div class="container mt-4">
    <div class="title">
        <a href="">Gạch</a>
        <a href="">Xi Măng</a>
        <a href="">Đá</a>
        <a href="">Cát</a>
    </div>
    <div class="table-responsive">

        <table class="table table-bordered">
            <thead>
                <tr class="table-info text-center">
                    <th scope="col">CÁC LOẠI XI MĂNG</th>
                    <th scope="col">ĐƠN VỊ TÍNH</th>
                    <th scope="col">ĐƠN GIÁ (VNĐ)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Xi măng loại A</td>
                    <td>Bao</td>
                    <td>100,000</td>
                </tr>
                <tr>
                    <td>Xi măng loại B</td>
                    <td>Bao</td>
                    <td>120,000</td>
                </tr>
                <tr>
                    <td>Xi măng loại C</td>
                    <td>Bao</td>
                    <td>110,000</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<br />
<div class="container contact-info">
    <div class="left">
        <h2>Liên hệ nhận ngay báo giá</h2>
        <p>Hãy liên hệ với <strong>VLXD NGỌC HÀ</strong> ngay hôm nay để nhận báo giá ưu đãi nhất cho sản phẩm bạn đang quan tâm! Chúng tôi sẵn sàng hỗ trợ bạn 24/7.</p>
    </div>
    <div class="right">
        <div class="hotline">
            <i class="fa-solid fa-phone"></i>
            <span>Hotline: 0918.345.999</span>
        </div>
    </div>
</div>

