<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QuanLy_VLXD4ConnectionString"
            connectionString="Data Source=ACERNITRO5;Initial Catalog=QuanLy_VLXD4;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QuanLy_VLXDConnectionString"
            connectionString="Data Source=ACERNITRO5;Initial Catalog=QuanLy_VLXD;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>