.table td,
.table th {
    padding: 5px 140px 5px 140px; /* Tăng padding để tạo khoảng cách lớn hơn */
    color: #001981;
    border: 2px solid #001981;
}

.table th {
    background-color: #001981;
    color: #fff;
}

.uppercase {
    color: #001981;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Khoảng cách giữa các cột */
}

.icon-box {
    flex: 1 1 calc(25% - 20px); /* Chiều rộng của từng cột trừ khoảng cách */
    box-sizing: border-box;
    text-align: center;
}

    .icon-box img {
        max-width: 100%;
        height: auto;
    }

.left {
    width: 50%;
    float: left;
}

.right {
    width: 45%;
    float: right;
}

.info-section {
    background-color: rgb(0, 25, 129);
    padding: 20px;
    color: #fff;
    border-radius: 8px;
    max-width: 800px;
    margin: 0px auto;
}

.info-content {
    padding: 20px;
}

    .info-content h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .info-content p {
        margin: 10px 0;
        text-align: left;
    }

    .info-content ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
    }

        .info-content ul li {
            margin: 10px 0;
            display: flex;
            align-items: center;
        }

            .info-content ul li img {
                margin-right: 10px;
            }

/* Định dạng cho liên kết button */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: rgb(0, 25, 129);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

    .button:hover {
        background-color: rgb(0, 25, 129);
        color: #fff;
    }

.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Định dạng cho hình ảnh lớn */
.gallery-image.large {
    width: 650px;
    height: 325px;
    object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
    border-radius: 8px; /* Bo tròn góc hình ảnh */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng cho hình ảnh */
}

/* Định dạng cho nhóm hình ảnh nhỏ */
.small-images {
    display: flex;
    gap: 10px;
}

/* Định dạng cho hình ảnh nhỏ */
.gallery-image {
    width: 325px;
    height: 300px;
    object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
    border-radius: 8px; /* Bo tròn góc hình ảnh */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng cho hình ảnh */
}

.container .wrap {
    position: absolute;
    width: 80%;
    height: 250px;
    background-color: azure;
    border-radius: 8px;
    margin: 35px;
    padding: 50px;
}

.box-text {
    width: 300px;
    height: 150px;
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-between
}
.card {
    margin: 0px 10px;
}

.card-title {
    text-align: center;
    font-size: 14px;
}

.card-text {
    text-align: center;
}

    .card-text:nth-child(2) {
        color: chocolate;
        margin: 0;
        font-size: 20px;
    }

    .card-text:nth-child(3) {
        color: red;
        font-size: 12px;
        height: 20px;
    }

    .card-text:nth-child(4) {
        text-align: left;
    }

.card img {
    transition: box-shadow 0.4s;
    
}

    .card img:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        border: 0.5px solid lightgrey;
    }
